<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--数据库连接字符串-->
    <add key="DataBaseConnectionString" value="mongodb://MZsa:MZdba@59.61.72.34:37088/WorkPlanManage" />
    <add key="WorkPlanManageConnectionString" value="mongodb://MZsa:MZdba@59.61.72.34:37088/WorkPlanManage" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WeixinToken" value="WPM123" />
    <add key="WeixinEncodingAESKey" value="KuDFPA3nYYcugADDSh7eyqZqSJfpoRLhOBgp7wFmK2p" />
    <add key="WeixinAppId" value="wx7466f132d2d58755" />
    <add key="WeixinAppSecret" value="2d8be9113bacf46c9218156c3623816f" />
    <add key="WeixinAgentUrl" value="外部代理Url" />
    <add key="WeixinAgentToken" value="外部代理Token" />
    <add key="WeixinAgentWeiweihiKey" value="外部代理SouideaKey" />
    <add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay" />
    <add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId" />
    <add key="WeixinPay_Key" value="WeixinPay_Key" />
    <add key="WeixinPay_AppId" value="WeixinPay_AppId" />
    <add key="WeixinPay_AppKey" value="WeixinPay_AppKey" />
    <add key="WeixinPay_TenpayNotify" value="WeixinPay_TenpayNotify" />
    <add key="TenPayV3_MchId" value="TenPayV3_MchId" />
    <add key="TenPayV3_Key" value="TenPayV3_Key" />
    <add key="TenPayV3_AppId" value="TenPayV3_AppId" />
    <add key="TenPayV3_AppSecret" value="TenPayV3_AppSecret" />
    <add key="TenPayV3_TenpayNotify" value="TenPayV3_TenpayNotify" />
    <!--是否发布-->
    <add key="IsPublish" value="false" />
    <!--Host站点地址-->
    <add key="HostDomain" value="http://luckymn.cn/" />
    <!--PDF导出站点地址-->
    <add key="PDFDomain" value="http://localhost:8099" />
    <!--该项目是否是插件-->
    <add key="IsPlugIn" value="0" />
    <!--该项目是否是插件-->
    <add key="PageSize" value="15" />
    <!--该项目是否是插件-->
    <add key="IsIgnoreName" value="1" />
    <!--发送系统消息，是否启用调度中心发送， 1 启用，0 不启用-->
    <add key="SendSysMsgBySchdeuler" value="1" />
    <!--job注册webservice地址-->
    <add key="YinheServiceClientUrl" value="http://localhost:8066/JobRegister.asmx" />
    <!--发送系统消息，是否同时发送Email提醒， 1 是，0 否-->
    <add key="SendSysMsgWithEmail" value="0" />
    <!--登陆页面地址-->
    <add key="LoginUrl" value="/Account/Login_MN" />
    <!--首页页面地址-->
    <add key="IndexUrl" value="/QuestionAnswer" />
    <!--站点域-->
    <add key="Domain" value="http://localhost:8030" />
    <!--菜单JS名称-->
    <add key="MenuJS" value="SysMenuQX.js" />
    <!--菜单权限控件-->
    <add key="MenuRight" value="MenuRightQX" />
    <!--主控地址-->
    <add key="MasterServerAddress" value="192.168.1.200" />
    <!--ADName域名-->
    <add key="ADName" value="suning.com.cn" />
    <!--客户代码-->
    <add key="CustomerCode" value="024DC2EB-EF56-40B0-8217-C9BF235FFLKL" />
    <!--系统样式-->
    <add key="GlobalCss" value="/Content/css/client/QX/qiaoxin.css" />
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;" />
    <!--流程模板签发步骤ID-->
    <add key="SignStepId" value="" />
    <add key="ExpireTime" value="2026-1-1" />
    <add key="MailHostDomain" value="" />
    <!--是否自动更新OA待办已办， 1 启用，0 不启用-->
    <add key="IsUpdateOAToDo" value="0" />
    <add key="Mission_ItemDropSeed" value="650000" />
    <add key="Mission_HellChallengeCount" value="10" />
    <add key="DayLifeUrl" value="http://luckymn.cn/" />
    <!--http://59.61.72.34:8025/-->
    <add key="DayLifeBakUrl" value="http://luckymn.cn/" />
  </appSettings>
  <system.web>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="14400" stateNetworkTimeout="14400" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".Yinhoo.Autolink.Account.Auth" loginUrl="~/Account/Login" timeout="2880" slidingExpiration="true" defaultUrl="~/Account/Login" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MongoDB.Bson" />
        <add namespace="MongoDB.Driver" />
        <add namespace="MongoDB.Driver.Builders" />
        <add namespace="Yinhe.ProcessingCenter" />
        <add namespace="Yinhe.ProcessingCenter.Permissions" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,POST,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name=".mxt" value="text/mxt">
        </add>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <location path="PersonelWorkCenter/HomeIndex" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*">
        </allow>
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
