@charset "utf-8";
/* CSS Document */
/*body{ font-family:"黑体",Tahoma,"宋体",Arial,Helvetica,sans-serif; font-size:14px; color:#404040;}*/
body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,button,img,input,tr,td{ margin:0px; padding:0px; }
dl,dt,dd,ul,ol,li,em{list-style-image:none; list-style-type:none; list-style-position:outside}
a{text-decoration:none}
img{ border: currentcolor medium none}
/*-----头部-----*/
.title_box{ width:1000px; margin:0 auto; height:75px; background:url(../../../images/client/ZHHY/page_top_bg.gif) no-repeat 50% bottom;}
a.logo{ display:block;width:356px; height:75px; background:url(../../../images/client/ZHTZ/zhtz/zhtz_logo_1.gif) no-repeat; background-position:0 center}
.q_entry{ text-align:right; float:right; margin-top:-60px; margin-right:5px;}
.q_entry span{ margin:0 4px; line-height:24px;}


#topnav{width:1000px; margin:0 auto;}
ul.nav_lev1,ul.nav_lev2{ width:1000px; margin:0 auto;}
ul.nav_lev1 li,ul.nav_lev2 li{ float:left;}


.nav_lev1_box{ height:32px; border-left:1px solid #e10007; border-right:1px solid #e10007; background:url(../../../images/client/ZHTZ/zhtz/nav_bg1.png); _background:url(../../../images/client/ZHTZ/zhtz/nav_bg1.png); background-repeat:repeat-x; position:relative}
ul.nav_lev1 ul{ display:block; position:absolute; left:46%}
ul.nav_lev1 li{display:block; list-style:none; background:url(../../../images/client/ZHTZ/zhtz/nav_bg1.png); _background:url(../../../images/client/ZHTZ/zhtz/nav_bg1.png); background-repeat:repeat-x; background-position:right top;  height:32px;}
ul.nav_lev1 li a{ font-family:"微软雅黑","黑体","宋体"; font-family:微软雅黑;font-size:14px; font-weight:bold;display:block; margin:2px auto;padding:0px 15px;  height:28px; line-height:28px; _line-height:33px; color:#eee; _display:inline-block; text-decoration:none}
ul.nav_lev1 li.this a{ display:block;margin:2px auto;padding:0px 15px; height:28px;line-height:28px;color:#fff;font-weight:bold;background:url(../../../images/client/ZHTZ/zhtz/bg_img.png) center -263px no-repeat;}
ul.nav_lev1 li:hover a{height:28px;line-height:28px;padding:0px 15px; color:#fff;background:url(../../../images/client/ZHTZ/zhtz/bg_img.png) center -263px no-repeat;}
*+html ul.nav_lev1 ul{ list-style:none;float:left}
*+html ul.nav_lev1 li a{float:left}


.nav_lev2_box{clear:both; height:27px;border:1px solid #c7cacf; border-top:none; background-color:#f5f3f2}
ul.nav_lev2 li{ height:22px; margin-top:3px; background: url(../../../images/client/ZHTZ/zhtz/nav_bg_line.png); background-repeat:no-repeat; background-position:right top;}
ul.nav_lev2 li a{ display:block; height:22px; line-height:24px;font-size:12px; padding:0 12px; color:#4d4d4d; _display:inline-block;  background-image:none;}
ul.nav_lev2 li.this{height:22px; line-height:22px;display:inline-block;  border-bottom:2px solid #1c4f77; color:#fff; background-image:none;}
ul.nav_lev2 li.this a{color:#4d4d4d; font-weight:bold}



.vertical_menu{ margin-left:100px; display:block; display:inline-block;}
.vertical_menu ul.v_menu{ float:left; padding:3px 0; border:1px solid #b34c42; background:#efe9e8;}
.vertical_menu ul.v_menu li{ padding:5px 24px 5px 12px; border-bottom:1px solid #dddddd;}
.vertical_menu ul.v_menu li.have_child{ background-image:url(../../../images/client/ZHTZ/zhtz/vertical_menu_bg.gif); background-position:right center; background-repeat:no-repeat;}
.vertical_menu ul.v_menu li:hover{ background-color:#ea9991;}
.vertical_menu ul.v_menu li a{ color:#404040;}
.vertical_menu ul.v_menu li a:hover{ text-decoration:none;}
.vertical_menu ul.v_menu li.selected{ background-color:#b34c42;}
.vertical_menu ul.v_menu li.selected a{ color:#fff;}

.vertical_menu ul.v_menu_child{ float:left; padding:3px 0; border:1px solid #b34c42; background:#efe9e8;}
.vertical_menu ul.v_menu_child li{ padding:5px 24px 5px 12px; border-bottom:1px solid #dddddd;}
.vertical_menu ul.v_menu_child li.have_child{ background-image:url(../../../images/client/ZHTZ/zhtz/vertical_menu_bg.gif); background-position:right center; background-repeat:no-repeat;}
.vertical_menu ul.v_menu_child li:hover{ background-color:#ea9991;}
.vertical_menu ul.v_menu_child li a{ color:#404040;}
.vertical_menu ul.v_menu_child li a:hover{ text-decoration:none;}
.vertical_menu ul.v_menu_child li.selected{ background-color:#b34c42;}
.vertical_menu ul.v_menu_child li.selected a{ color:#fff;}
/*-----头部结束-----*/
/*-----登录页-----*/
.body_sign{ background:#eaeaea;}
.body_bg01{ height:563px; background:url(../../../images/client/ZHTZ/zhtz/body_bg01.png) -20% top no-repeat; position:absolute; width:100%; z-index:10;}
.body_bg02{ height:563px; background:url(../../../images/client/ZHTZ/zhtz/body_bg02.png) right top no-repeat;}
.body_bg03{ height:800px; background:url(../../../images/client/ZHTZ/zhtz/body_bg03.png) right bottom no-repeat; position:absolute; bottom:0; width:100%;}

.sign_in_box{ width:840px; margin:0 auto;/* border:1px solid #000;*/ padding:220px 60px 60px 60px; background:url(../../../images/client/ZHTZ/zhtz/sign_in_box.png) left top no-repeat;}
.sign_left{ width:370px; float:left;/* border:1px solid #000;*/}
.sign_left .sign_logo{ width:380px; height:150px; background:url(../../../images/client/ZHTZ/zhtz/zhtz_logo.gif) no-repeat; background-position:left center}
.sign_right{ width:400px; padding-left:20px; float:left;/* border:1px solid #000;*/ background:url(../../../images/client/ZHTZ/zhtz/sign_right_line_bg.png) left center no-repeat;}
.sign_right table{ font-size:14px;}
.sign_right table td{ padding:3px 2px;}

.sign_in_box .user_name,.sign_in_box .user_name1,.sign_in_box .user_name2,.sign_in_box .user_key,.sign_in_box .user_key1,.sign_in_box .user_key2
{ width:186px; height:41px; background:url(../../../images/client/ZHTZ/zhtz/user_info_bg.png) no-repeat;}
input.sign_in_inp{ margin:12px 0 0 38px; border:none; background:none;}
.sign_in_box .user_key{ background-position:left -41px;}
.sign_in_box .user_name1{ background-position:left -82px;}
.sign_in_box .user_name2{ background-position:left -164px;}
.sign_in_box .user_key1{ background-position:left -123px;}
.sign_in_box .user_key2{ background-position:left -205px;}
.ts_keep_txt{  margin-left:6px; color:#777777;}
.sign_in_button{ width:70px; height:33px; background:url(../../../images/client/ZHTZ/zhtz/sign_in_button.png) no-repeat; display:inline-block; vertical-align:middle;}
a.fet_key{ margin-left:6px; color:#d23723;}
.ts_box_txt{ color:#d23723; background:url(../../../images/client/ZHTZ/zhtz/icon/12.png) no-repeat left top; padding-left:20px;}

.sign_footer{ text-align:center; color:#999999;}

/*-----登录页结束-----*/