@charset "utf-8";
/* CSS Document */

/*-----产品系列首页-----*/
.proul{}
.proul li{ float:left; display:inline; width:220px; height:280px; margin-right:15px; margin-bottom:15px; list-style:none}
.proul li .liContentBox{ background:#f0f0f0; border:1px solid #d9d9d9; border-top:3px solid #296f32;}
.proul li h4{ font-weight:bold; font-size:16px; border-bottom:1px solid #ccc; padding:8px 0px; display:block; margin:0px; text-align:center; background:#fff }
.proul li h4 a{ color:#414141; text-decoration:none;}
.proul li .divContentBox{ padding:10px; }
.proul li .divContentBox .proIm{ margin:0 auto; background:#fff}
.proul li .divContentBox .proIm img{ width:200px; height:180px; border:none}
.proDinf .pTxtBox{ border-bottom:1px dotted #d9d9d9; line-height:20px; margin:0px; padding:5px 0px;}


.applicationX5{ padding-left:10px; margin-top:6px;  cursor:pointer; background:url(../../../images/common/openOrclose.gif) no-repeat left -17px; position:relative }
.applicationX5 .click{color:#05c;}
.applicationX5 .showHide{color:#a9abaa;}
.applicationX5 span.lineX5{ letter-spacing:-2px; margin-left:3px; color:#a9abaa;}
.applicationX5 .projArea{ margin-left:25px;}

.proDinf div.open{ background-position:left 5px; color:#202020;}
.proDinf div.open span.lineX5{ color:#999999;}

.applicationX5 .otAr{ position:absolute; top:30px; left:-10px; width:217px;border:1px solid #ddd; background:#f9f9f9;  z-index:10000;}
.applicationX5 .otAr .otAr_line{display:block; border-bottom:1px dotted #d9d9d9; margin:0px; padding:0px 10px;}
.applicationX5 .otAr .otAr_line span{ display:block;  padding:5px 3px;color:#404040}
.applicationX5 .otAr .otAr_line a{ display:block; padding:5px 3px; padding-left:15px; line-height:18px; text-decoration:none; color:#05c}
.applicationX5 .otAr .otAr_line a:hover{ text-decoration:underline}

.applicationX5 .otAr .proj{ border-bottom:1px solid #bbb; overflow: hidden; clear:both}
.applicationX5 .otAr .ctys{ margin:7px 7px 0 7px; padding-bottom:7px; padding-left:3px; border-bottom:1px dotted #ddd; display:block}
.applicationX5 .otAr ul li{ padding:5px 5px 5px 10px;float:left; width:230px; height:20px; line-height:20px; margin:0px;}

.welcome{border:1px solid #ddd;padding:10px 0;margin:0 0 10px 0;}
.Seri_man:hover{ background-color:#f9f9f9}
.Seri_man .title_name{ font-size:14px; font-weight:bold;}
.Seri_man .Series_point a.ablock{cursor:pointer; height:20px;margin:0 10px 5px 0; padding-left:10px; padding-right:10px}
.Seri_man:hover .Series_point a.agray{ background-color:#dddddd; text-decoration:none;}
.Seri_man:hover .Series_point a:hover.agray{ background-color:#81a973;color:#fff;}

.side_l_block .ablock{margin: 0 9px 8px 0px;text-align: center; padding:5px 12px;}

.valuetree{ background:#fff url(../../../images/client/XC/valuetree_bg01.jpg) no-repeat left bottom; height:395px;}
.valuetree  p{ color:#fff; text-align:center;  font-size:12px; padding:5px 7px; margin:0 auto;}
p.blockx{ background-color:#ababab; line-height:35px; height:35px; font-size:14px; color:#ffffff; width:110px;}
p.blocky{ background-color:#81649e; cursor:pointer; width:20px; height:70px;}
p.blocky:hover{ background:#81a973;}
p.blocky a:hover{ text-decoration:none}
p.blocky a{ color:#fff;}
.valuetree .hese{ background:#a1a1a1; width:2px; height:15px; margin:0 auto;}
.valuetree .lvse{ background:#296f32; width:3px; height:56px; margin:0 auto;}
.jiantuo{ height:19px; background:url(../../../images/client/XC/jiantuo_bg02.gif) no-repeat center top;}
.valuetree table td{ padding:0 10px;}
.treebranch{ padding-left:80px}
.treetrunk{ padding-left:80px}



.house_type{padding:0;width:100%;}
.house_type .select{ font-weight:bold; color:#296f32}
.house_type tr{}
.house_type tr td:last-child{border-right:none;}
.house_type tr:last-child td{border-bottom:none;}
/*-----风格组合标签切换,取自QX-----*/
.page_tab ul{ display:block; clear:both; overflow:hidden; padding-bottom:15px;}
.page_tab ul li{ margin-right:20px;display:block; float:left; }
.page_tab ul li a{ display:block; float:left; padding:0px 30px; font-size:14px;color:#6e6e6e;  height:31px; line-height:31px;border:1px solid #cccccc;}
.page_tab ul li a:hover{ background-color:#f1f1f1}
.page_tab ul li a.select{ border:1px solid #a8a8a8; background:url(../../../images/client/XC/page_tab.png) repeat-x; color:#465059; font-weight:bold; }

.sidebar-l .side-tabs li {background:url(../../../images/icon/ico0025.png) no-repeat 20px center; background-color:#eeeeed; display:block; margin-bottom:1px; }
.sidebar-l .side-tabs li a{ display:block;cursor:pointer; color:#465059; text-decoration:none;background:url(../../../images/icon/join.gif) no-repeat 50px center;padding:13px 0 14px 75px; }
.sidebar-l .side-tabs li.title{background:url(../../../images/icon/ico0026.png) no-repeat 20px center; background-color:#eeeeed}
.sidebar-l .side-tabs li.title a{ font-size:14px; font-weight:bold; color:#465059;padding:13px 0 14px 55px; background-image:none; }
.sidebar-l .side-tabs li:hover,.sidebar-l .side-tabs li.active{ background-color:#cde7c2;}
.sidebar-l .side-tabs li.second_item{ background-image:none;}
.sidebar-l .side-tabs li.second_item a{ background-position: 70px center;padding:13px 0 14px 95px;}
.sidebar-l .side-tabs li.active {background:url(../../../images/icon/ico0027.png) no-repeat 20px center;background-color:#cde7c2;}

.photo_gallery{ border-top:0px;}
.photo_gallery .pt_con{ padding-left:10px; padding-right:10px}

.leveline{ border:1px solid #ddd; padding:10px 10px 10px 20px; margin:10px 0;}

.attrlist_ul li{ float:left;margin-bottom:10px;}
.attrlist .attrlist_right { margin-right:20px; float:left;}

#propertyName .move a{ line-height:20px; display:block; color:#414141}
#propertyName .move a:hover{ background-color:#3399ff; color:#fff; width:180px; text-decoration:none}
#propertyName .move a.select{ background-color:#3399ff; color:#fff; width:180px}

.attrSel{ background-color:#81a973;color:White}
.attrlist-edit{padding-top: 10px; clear:both; overflow:hidden;}
.attrlist-edit ul li{ padding-right:5px; float:left;white-space: nowrap}
.attrname-edit{ width:70px; font-weight:bold; float:left}
.df_content .attrlist-edit{padding: 10px;}
.df_content .attrlist-edit ul{ width:210px; float:right;}
.df_content .attrlist-edit ul li{ padding-bottom:5px;}

#typeDetailDiv .page_tab ul{ clear:none; padding-bottom:30px}