<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yinhe.WebReference.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Yinhe.WebReference.Properties.Settings>
            <setting name="Yinhe_WebReference_Schdeuler_JobRegister" serializeAs="String">
                <value>http://localhost:4065/JobRegister.asmx</value>
            </setting>
            <setting name="Yinhe_WebReference_AuthorityService_authorityService"
                serializeAs="String">
                <value>http://27.151.122.65:80/seeyon/services/authorityService.authorityServiceHttpSoap11Endpoint/</value>
            </setting>
        </Yinhe.WebReference.Properties.Settings>
    </applicationSettings>
</configuration>