.serchbar{ border:1px solid #cccccc;background-color:#f6f6f6; padding:3px}
.droplister{
	position:absolute;
	background-color:#FFFFFF;
	border:1px solid #999999;
	padding:3px;
	margin-top:20px;
	}
	.droplist{
position:absolute;
}
.droplist a{
	color:#008001;
	background-image: url(../../../images/common/sort_down.gif);
	background-repeat: no-repeat;
	height:24px;
	line-height:24px;
	display:block;
	padding:0px 5px;
	}
	
	
	
	
	.worktab li {
	float: left;
}
.worktab {
	border-bottom: 5px solid #028dc6;
	border-left:1px solid #d7d7d7;
	border-top:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	height: 29px;
	background-image: url(../../../images/common/tab-bg2.jpg);
	background-repeat: repeat-x;
}
.worktab a {
	color: #323232;
	text-decoration: none;
	font-size:14px;
	font-weight:bold;
	display: block;
	height:29px;
	line-height:29px;
	padding-right: 15px;
	padding-left: 15px;
}
.worktab a:hover {
	background-color:#dddddd;
	background-image: none;
}
.worktab a.select {
	color: #FFFFFF;
	background-image: url(../../../images/common/tab-bgselect.jpg);
	background-repeat: repeat-x;
}
.worktab a span{ font-size:12px; font-weight:normal; padding-left:5px}
.worktab ul {
	display: block;
	list-style-type: none;
}
.worktab .opera a{ float:right; font-weight:normal; font-size:12px; text-decoration:none}
.worktab .opera a:hover{ background-image: url(../../../images/common/tab-bg2.jpg);background-repeat: repeat-x; text-decoration:none}

.tr_hover{background-color:#ecfbd2;}
.protitlename{font-size:14px; font-weight:bold; padding-bottom:10px}
.proclass{ padding-bottom:5px; line-height:20px;}
.wkyellow{ color:#aa7f54;}
.picdivm{ border:1px solid #C4C4C4; padding:1px; width:120px; height:110px; line-height:110px; text-align:center;background-color:White}


.subtitle{ border-bottom:2px solid #cccccc; height:27px; margin:20px 0 10px 0; clear:both;}
.subtitle .name{ border-bottom:2px solid #d90205; float:left; font-size:14px; color:#9e9c9c; font-weight:bold; line-height:27px;width:150px; text-indent:5px}
.subtitle .opera{ float:right; padding-right:5px;}

.result-list {
	height: 180px;
	width: 138px;
	float:left;
}
.result-list div{
 word-break: break-all;
 padding-left: 4px;
 padding-right: 4px;
}
.result-list .thum{margin: -16px 8px 0 0; text-align: right; line-height: 10px; display: block}
.result-list .name{line-height: 16px; padding-top: 5px; text-align:center;}
.result-list .date{color: #999999; padding-top: 3px}


.ullist{}
.ullist li{ display:block; float:left;white-space:nowrap; padding:3px 7px 3px 0; color:#0368a8}

