@charset "utf-8";
/* CSS Document */






.w300{ width:300px; height:60px;}

.table_cooperate{border-collapse:collapse;}
.table_cooperate td{ border:1px solid #d9d9d9; padding:5px 8px;}
.table_cooperate .field{ background:#f0f0f0;}














